.random-planet {
  padding: 1rem;
  margin: 1rem;
}

.random-planet .planet-image {
  border-radius: 10px;
}

.item {
  margin-left: 20px;
}

@media (max-width: 767px) {
  .random-planet {
    height: initial;
  }
  .item {
    margin-left: 0;
  }
}
